<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<link rel='stylesheet' href='https://cdn.gitcdn.link/cdn/angular/bower-material/v1.1.0-rc.5/angular-material.css'>
<link rel='stylesheet' href='https://fonts.googleapis.com/icon?family=Material+Icons'>

<!-- Toolbar -->

  
  <div style="text-align:center">
    <ul>
      <li><a class="nav-link" routerLink="/" routerLinkActive="active">Home</a>  </li>
      <li><a class="nav-link" routerLink="barcos" routerLinkActive="active" *ngIf="authService.logIn()">Barcos</a>  </li>
      <li><a class="nav-link" routerLink="juego" routerLinkActive="active" *ngIf="authService.logIn()">Juego</a>  </li>
      <li style="float:right" *ngIf="!authService.logIn()"> <a class="nav-link"  style="float:right" routerLink="login"  >Login</a> </li>
      <li style="float:right" > <a class ="nav-link" (click)="authService.logout()" href="#" *ngIf="authService.logIn()" >Logout</a>  </li>
    </ul>
    <div class="text-center">
      <p>
        Battleship Game IGF
      </p>
    </div>
     <router-outlet></router-outlet> 
