<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<link rel='stylesheet' href='https://cdn.gitcdn.link/cdn/angular/bower-material/v1.1.0-rc.5/angular-material.css'>
<link rel='stylesheet' href='https://fonts.googleapis.com/icon?family=Material+Icons'>

<!-- Toolbar -->
<mat-toolbar color="primary">
  <button mat-button><span>BATTLESHIP GAME IGF</span> </button>
  <button mat-button routerLink="barcos" routerLinkActive="active" *ngIf="authService.logIn()"><span>Barcos</span></button>
  <button mat-button routerLink="juego" routerLinkActive="active" *ngIf="authService.logIn()"> Juego</button>
  <span class="fill-space"></span>
  <button mat-button *ngIf="!authService.logIn()"  style="float:right" routerLink="login"  >Iniciar session </button> 
  <button mat-button *ngIf="!authService.logIn()"  style="float:right" routerLink="register"  >Registrar </button>
  <button mat-button (click)="authService.logout()" href="#" *ngIf="authService.logIn()" >Cerrar sesion</button> 

</mat-toolbar>
     <router-outlet></router-outlet> 
