<div class="centrar" [hidden]="ready">
    <button mat-raised-button id="listo" style="left: 50%;" (click)="Listo()" color="primary" >Iniciar juego</button>
    <br>
    <br>
    <img src="assets/img/ready.jpg" alt="">
</div>

    <div id="nBar" class="n-bar"  [hidden]="bar">

        <div class='n-bar-hijo'>
            <H3>Buscando Contrincante</H3>
            <mat-progress-bar mode='indeterminate' ></mat-progress-bar>
            <br>
            <img src="assets/img/radar.gif" alt="Buscando enemigo">
        </div>
        <div class="n-bar-hijo">
            
        </div>
    </div>
<div id="Cont-turnos" >
    <div name="Turno" [hidden]="turno">
        <h3>ES SU TURNO</h3>
    </div>
    <div name="TurnoE" [hidden]="turnoE">
        <h3>ES TURNO DEl ENEMIGO</h3>
    </div>

</div>
<div [hidden]="ganar">
    <img src="assets/img/YouWin.jpg" alt="">
</div>
<div [hidden]="perder">
    <img src="assets/img/GameOver.png" alt="">
</div>
<div class="orden">
    <div appTablero  (disparo)="onDisparar($event)" [hidden]="ocultar"> </div>
</div>